.MuiExpansionPanel-root {
    direction: rtl !important;
}


/* 
.Mui-expanded {
    background-color: rgb(238, 238, 238) !important;
} */

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.Mui-expanded {
    background-color: rgb(238, 238, 238) !important;
}

.MuiExpansionPanel-rounded {
    background-color: #fff !important;
}

.expanded-panelimage-keeper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.expanded-panelimage-keeper img {
    width: 300px;
    height: auto;
    max-width: 300px !important;
}

.MuiExpansionPanelDetails-root {
    display: unset !important;
    width: 100% !important;
}

.expandedpanel-details-keeper {
    width: 100%;
    padding: 0 10px;
}