.MuiExpansionPanel-root {
    direction: rtl !important;
}

.Mui-expanded {
    background-color: rgb(226, 226, 226) !important;
}


/* .MuiExpansionPanel-rounded {
    background-color: rgb(165, 163, 163) !important;
} */