.inputsDir {
    direction: rtl !important;
    text-align: right !important;
}

.inputsDirCenter {
    direction: rtl !important;
}

#adminemail,
#adminphonenumber,
#discountvalue {
    text-align: center !important;
}

.textRight {
    text-align: right !important;
    direction: rtl !important;
}

.discountDatepickerLabel {
    width: 100%;
    text-align: right;
    font-size: 0.85rem;
    margin-top: 1rem;
    margin-bottom: -0.7rem;
}

.discountDatepicker {
    width: 100% !important;
    padding: 0.9rem !important;
}