/* **** */

@font-face {
    font-family: Yekan;
    src: url('../assets/fonts/iran-yekan/iranyekan.woff')
}

:root {
    /* Make green a little darker. */
    --ck-highlight-marker-green: #C8E6C9;
    /* Make the yellow more "dirty". */
    --ck-highlight-marker-yellow: #FFF9C4;
    /* Make red more pinkish. */
    --ck-highlight-marker-red: #ffcdd2;
    --ck-highlight-marker-blue: #BBDEFB;
    --ck-highlight-marker-grey: #E0E0E0;
}

.marker-green {
    background-color: rgba(116, 226, 122, 0.459);
}


/* #f443365b */

.marker-red {
    background-color: #ffcdd2;
}

.marker-yellow {
    background-color: #FFF9C4;
}

.marker-blue {
    background-color: #BBDEFB;
}

.marker-grey {
    background-color: rgba(204, 204, 204, 0.726);
}

*,
* * {
    font-family: Yekan !important;
}

figcaption {
    text-align: center !important;
}

.image_resized {
    max-width: 100% !important;
    margin: 0 auto;
    text-align: center !important;
    /* display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; */
    overflow: hidden !important;
}

.image_resized img {
    width: -webkit-fill-available !important;
    max-width: 100% !important;
}

@supports not (width: -webkit-fill-available) {
    .image_resized img {
        width: inherit !important;
        max-width: 100% !important;
    }
}

.image-style-align-left {
    max-width: 50% !important;
    text-align: left !important;
    float: left !important;
    text-align: center !important;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
    overflow: hidden !important;
    margin-right: 20px !important;
}

.image-style-align-left::after,
.image-style-align-left::before {
    clear: both !important;
}

.image-style-align-left img {
    width: -webkit-fill-available !important;
    max-width: 100% !important;
}

@supports not (width: -webkit-fill-available) {
    .image-style-align-left img {
        width: inherit !important;
        max-width: 100% !important;
    }
}


/* .marker-blue {
    background-color: #1961ac30;
} */


/* .MuiInputBase-input,
.MuiOutlinedInput-input {
    direction: rtl !important;
} */


/* .MuiTableRow-root {
    direction: ltr !important;
} */


/* .MuiTableCell-alignLeft {
    text-align: right !important;
}

.MuiTypography-h6 {
    text-align: right !important;
}

div[class^='MTablePaginationInner-root-'],
div[class*=' MTablePaginationInner-root-'] {
    direction: ltr !important;
} */

.image-style-align-right {
    max-width: 50% !important;
    text-align: right !important;
    float: right !important;
    text-align: center !important;
    /* display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; */
    overflow: hidden !important;
    margin-left: 20px !important;
}

.image-style-align-right::after,
.image-style-align-right::before {
    clear: both !important;
}

.image-style-align-right img {
    width: -webkit-fill-available !important;
    max-width: 100% !important;
}

@supports not (width: -webkit-fill-available) {
    .image-style-align-right img {
        width: inherit !important;
        max-width: 100% !important;
    }
}


/* 
figure img {
    width: 100% !important;
} */


/* .ck-content .image {
    max-width: 100% !important;
    width: 100% !important;
} */


/* .image img {
    width: 100% !important;
} */


/* .ck-content .image-style-side {
    width: 50% !important;
    max-width: 50% !important;
    float: right !important;
    margin-left: 15px;
} */


/* 
.ck-content .image.image_resized {
    display: block !important;
    box-sizing: border-box !important;
}

.ck-content .image.image_resized img {
    width: 100% !important;
}

.ck-content .image.image_resized figure {
    margin: 0 auto;
}

.ck-content .image.image_resized>figcaption {
    display: block !important;
} */

.dataTableDir *,
.dataTableDir * * {
    direction: rtl !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 30%;
    left: calc(50% - 150px);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #1961ac transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 992px) {
    .lds-dual-ring {
        left: calc(50% - 40px);
    }
}