.btn-primary {
    color: #fff !important;
}

.btn-default:hover {
    border: 1px solid rgb(221, 217, 217) !important;
}

.MuiTab-wrapper {
    font-family: Yekan !important;
}

.MuiBox-root {
    font-family: Yekan !important;
}

.makeStyles-root-1 {
    margin-left: -2% !important;
}

div[class^='makeStyles-root-'],
div[class*=' makeStyles-root-'] {
    margin-left: -15px !important;
}

div[class^='MuiBox-root-'],
div[class*=' MuiBox-root-'] {
    padding: 10px !important;
}

nav {
    direction: rtl;
}

#nav-tabContent {
    direction: rtl;
}

.layout-nav-setting-box-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: #e9e9e9;
    padding: 0 15px;
    margin-top: 10px;
    border-radius: 4px;
}

.layout-nav-setting-box-item-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.layout-nav-setting-box-item-left-plusbox {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 4px 5px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.layout-nav-setting-box-item-left-plus {
    font-size: 14px;
    color: #fff;
}

.layout-nav-setting-box-item-left-menubox {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1961ac;
    padding: 4px 5px;
    cursor: pointer;
    border-radius: 2px;
}

.layout-nav-setting-box-item-left-menu {
    font-size: 14px;
    color: #fff;
}

.layout-nav-setting-box-item-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.layout-nav-setting-box-item-right-icon {
    font-size: 14px;
    color: #333333;
    margin-left: 8px;
}

.layout-nav-setting-box-item-right-text {
    font-size: 16px;
    color: #333333;
    margin-bottom: 0;
    font-family: Yekan !important;
}

.layout-nav-setting-content {
    height: auto;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

@media screen and (max-width: 600px) {
    .nav-justified {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .nav-item {
        width: 100% !important;
    }
}