.ReactVirtualized__Grid::-webkit-scrollbar,
.rst__virtualScrollOverride::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    border-radius: 100px !important;
    -webkit-border-radius: 100px !important;
    cursor: pointer !important;
}

.ReactVirtualized__Grid:hover::-webkit-scrollbar,
.rst__virtualScrollOverride:hover::-webkit-scrollbar {
    /* width: 8px !important;
    height: 10px !important; */
    width: 0 !important;
    height: 8px !important;
    cursor: pointer !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar-track,
.rst__virtualScrollOverride::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff !important;
    cursor: pointer !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar-thumb {
    background-color: #cccccc !important;
    border-radius: 100px !important;
    cursor: pointer !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar-thumb:hover,
.rst__virtualScrollOverride::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey !important;
    cursor: pointer !important;
}

.rst__virtualScrollOverride,
.ReactVirtualized__Grid {
    scrollbar-color: #cccccc #fff !important;
    scrollbar-width: none !important;
}

.rst__virtualScrollOverride:hover,
.ReactVirtualized__Grid:hover {
    scrollbar-color: #cccccc #fff !important;
    scrollbar-width: thin !important;
    /* scrollbar-width: 0 !important; */
}


/* *8 */

.wrapper {
    position: relative;
    height: 100%;
    width: 100% !important;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}

.bar-wrapper {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px !important;
    display: flex !important;
    flex-direction: column-reverse;
    align-items: flex-end !important;
}

.previous {
    margin-left: 10px;
}

.next,
.collapse {
    margin-right: 10px;
    margin-left: 5px;
}

.categorie-info-icon {
    font-size: 14px;
}

.categorie-plus-icon {
    font-size: 14px;
}

.categorie-trash-icon {
    font-size: 14px;
}

.categories-info-box {
    width: 60%;
    height: calc(100vh - 320px);
    /* border: 1px solid black; */
    -webkit-box-shadow: 0px 0px 25px 0px rgba(25, 97, 172, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(25, 97, 172, 1);
    box-shadow: 0px 0px 25px 0px rgba(25, 97, 172, 1);
    margin-top: 80px;
    margin-right: 2px;
    z-index: 10;
    border-radius: 4px;
    /* padding: 0.5rem; */
}

.categories-info-box-insidebox {
    width: 100%;
    /* height: 300px;
    overflow: hidden; */
}

.categorie-collexpand-box {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 97% !important;
    margin-left: 16px;
    z-index: 2;
}

.material-buttons {
    display: inline-block !important;
    width: 20px !important;
}

.categorie-node-btns {
    vertical-align: middle;
    border: none
}

.categorie-material-expand-btn {
    margin-right: 5px !important;
}

.categorie-material-compress-btn {
    margin-left: 5px !important;
    margin-right: 15px !important;
}

.categorie-material-expand-icon {
    cursor: pointer !important;
    font-size: 21px !important;
    color: #22466b !important;
}

.categorie-material-compress-icon {
    cursor: pointer !important;
    font-size: 21px !important;
    color: #22466b !important;
}

.categorie-material-compress-icon-success {
    cursor: pointer !important;
    font-size: 21px !important;
    color: #398f24 !important;
}

.categorie-search-and-child-keeper {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.categorie-search-box {
    display: inline-block !important;
    width: 400px !important;
    height: 40px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 4px !important;
    margin-right: 5px !important;
    margin-left: 10px !important;
}

.categorie-search-box-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: -145px;
    width: auto;
}

.categorie-prev-icon {
    margin-left: 15px !important;
    margin-right: 4px !important;
}

.categorie-next-icon {
    margin-right: 10px !important;
    margin-left: 4px !important;
}

.categorie-prevNext-icon {
    font-size: 19px !important;
    cursor: pointer !important;
    z-index: 1;
}

.categorie-search-input {
    direction: rtl !important;
    width: 100%;
}


/* .categorie-search-input {
    border: none !important;
    outline: none !important;
    width: 60% !important;
    direction: rtl !important;
    font-size: 14px !important;
}

.categorie-search-input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
} */

.categorie-search-count {
    font-size: 14px;
    margin-top: 6px;
}

.tree-wrapper {
    width: 100% !important;
    height: calc(100vh - 300px) !important;
    padding-bottom: 40px;
    overflow: auto !important;
    position: relative;
    top: 0;
    right: 0;
}

.ReactVirtualized__Grid {
    direction: rtl !important;
}

.ReactVirtualized__List {
    overflow: auto !important;
    direction: rtl !important;
}

.rst__virtualScrollOverride {
    /* width: 100% !important; */
    overflow: auto !important;
    direction: rtl !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
    width: 100 !important;
    max-width: 3000px !important;
}

@media screen and (max-width: 992px) {
    .wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .tree-wrapper {
        height: 350px !important;
    }
    .categories-info-box {
        margin-top: 30px;
        margin-right: 0;
    }
    .categorie-search-and-child-keeper {
        width: 60%;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .categorie-search-and-child-keeper {
        width: 70%;
        margin-left: auto;
    }
}

@media screen and (max-width: 650px) {
    .categorie-search-and-child-keeper {
        width: 80%;
        margin-left: auto;
    }
}

@media screen and (max-width: 576px) {
    .bar-wrapper {
        margin-bottom: 0 !important;
    }
    .categorie-collexpand-box {
        margin: 0 !important;
    }
    .categorie-search-and-child-keeper {
        width: 100%;
        margin-left: 0;
    }
}